.title {
  /* 큰 제목 */
  width: 70%;
  margin: 3% 0% 0% 5%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 4vw;
  color: #4962a2;
}

.titleText {
  /* SSAFY 자소서 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 5vw; /* Adjust as needed for responsiveness */
  line-height: 6vw; /* Adjust as needed for responsiveness */
  color: #4962a2;
}

.interviewDate {
  /* 날짜 */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #e3e7f1;
  border-radius: 10px;
  padding: 1vw; /* Adjust as needed for responsiveness */
  width: 13vw;
  height: 2vw;
  float: right; /* Adjust as needed for responsiveness */
}

.interview {
  /* 면접일 */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw; /* Adjust as needed for responsiveness */
  color: #000000;
}

.content {
  /* Rectangle 107 */
  width: 100%;
  height: 95%;
  box-sizing: border-box;
  background: #ffffff;
  border: 0.3vw solid #494ca2;
  border-radius: 1vw;
}

.question {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 3.2vw;
  display: flex;
  align-items: center;
  color: #000000;
}

.answer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 2.4vw;
  color: #000000;
}

.box {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 50vh;
  margin: 1% 3% 0; /* Adjust top margin as needed, set left margin to create space on the left */
  margin-left: 5%;
  margin-top: 7%;
}

.modify {
  cursor: pointer;
  width: 9vw;
  height: 3.7vw;
  border-radius: 1vw;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.7vw;
  /* 수정 button */

  margin-right: 2vw;
  background: #494ca2;
  color: #ffffff;
}

.delete {
  cursor: pointer;
  width: 9vw;
  height: 3.7vw;
  border-radius: 1vw;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.7vw;
  /* 수정 button */
  /* 삭제 button */

  /* margin-left: auto; */
  background: #ef5c41;
  color: #ffffff;
}

.button {
  /* Rectangle 106 */
  cursor: pointer;
  width: 3.5vw;
  height: 3.5vw;
  background: #d0d8eb;
  margin-top: 0.1vw;
  border: none;
  border-radius: 0.3em;
  color: white;
  font-weight: bold;
  font-size: 1.5vw;
}

.selectedButton {
  border-color: #494ca2;
  background-color: #494ca2;
  color: white;
  font-weight: bold;
  font-size: 1.5vw;
}

.list {
  /* 수정 button */
  cursor: pointer;
  width: 9vw;
  height: 3.7vw;
  background: #e3e7f1;
  border-radius: 1vw;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.7vw;
  color: #494ca2;
}

.buttonList {
  margin-top: 0.5%;
  display: flex;
  flex-direction: column;
}

.downButtonList {
  width: 90%;
  margin: 1% 3% 0; /* Adjust top margin as needed, set left margin to create space on the left */
  margin-left: 5%;
}

.interviewBox {
  width: 90%;
  margin-left: 4.5%;
}

.deleteModifyBox {
  float: right;
}
