.resumeTitle {
  /* 큰 제목 */

  position: absolute;
  width: 400px;
  height: 87px;
  left: 381px;
  top: 169px;
}

.resumeTitleText {
  /* SSAFY 자소서 */

  /* position: absolute; */
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;

  color: #4962a2;
}

.tableHeader {
  /* Group 172 */

  /* position: relative; */
  /* width: 896px;
  height: 52px;
  left: 418px;
  top: 274px; */

  /* Rectangle 112 */

  width: 896px;
  height: 52px;

  background: #e3e7f1;
  border-radius: 10px;
}

.plus {
  /* Rectangle 102 */

  /* position: absolute; */
  /* left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */

  background: #494ca2;
  border-radius: 10px;
  color: white;
  border: none;

  font-size: 40px;
  cursor: pointer;

  /* 추가 button */

  position: absolute;
  width: 55px;
  height: 52px;
  left: 770px;
  top: 173px;
}

.pageNums {
  position: absolute;
  margin-top: 35px;
  left: 400px;
  font-size: medium;
}

.pageNum {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.selectedPage {
  color: #494ca2;
  font-weight: bold;
  font-size: large;
}

.pn {
  font-weight: "bold";
  cursor: pointer;
}

.table {
  position: absolute;
  left: 380px;
  top: 280px;

  border-collapse: collapse;
  position: absolute;
  width: 896px;
}
