.resumeTitle {
  /* 큰 제목 */
  width: 70%; /* Adjust as needed */
  margin: 3% 0% 0% 5%; /* Adjust the right margin as needed, set left margin to create space on the left */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 3vw; /* Adjust as needed */
  line-height: 4vw; /* Adjust as needed */

  color: #4962a2;
}

.tableHeader {
  /* Group 172 */
  height: 8%; /* Adjust as needed */
  margin: 2% auto; /* Adjust as needed */
  border-radius: 10px;

  background: #e3e7f1;
}

.plus {
  /* 추가 button */
  width: 1.5em; /* Adjust as needed */
  height: 1.5em; /* Adjust as needed */
  margin-left: 2%; /* Adjust as needed */
  background: #494ca2;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.5vw; /* Adjust as needed */
}

.pageNums {
  margin-top: 2%;
  margin-left: 45%;
  font-size: large;
}

.pageNum {
  margin-left: 0.5%;
  margin-right: 0.5%;
  cursor: pointer;
}

.selectedPage {
  color: #494ca2;
  font-weight: bold;
  font-size: large;
}

.pn {
  font-weight: bold;
  cursor: pointer;
}

.table {
  width: 90%;
  margin: 1% 3% 0; /* Adjust top margin as needed, set left margin to create space on the left */
  margin-left: 5%;
  border-collapse: collapse;
}

.searchBoxText {
  /* 🔎 기업명 검색 */
  margin-left: 66%;
  width: 30%; /* Adjust as needed */
  font-size: 1.5vw; /* Adjust as needed */
}

.searchBox {
  /* Rectangle 41 */
  width: 20%; /* Adjust as needed */
  font-size: 1.5vw; /* Adjust as needed */
  background: #f5f6ff;
  border-radius: 10px;
  border: none;
  margin-left: 1%;
}

.column1 {
  width: 15%; /* Adjust as needed based on content */
}

.column2 {
  width: 45%; /* Adjust as needed based on content */
}

.column3 {
  width: 20%; /* Adjust as needed based on content */
}

.column4 {
  width: 20%; /* Adjust as needed based on content */
}

/* Apply the height to table rows */
.table tr {
  height: 42px; /* Adjust as needed */
}
