.resumeTitle {
  /* 큰 제목 */

  position: absolute;
  width: 487px;
  height: 45px;
  left: 418px;
  top: 180px;
}

.resumeTitleText {
  /* SSAFY 자소서 */

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  color: #4962a2;
}

.tableHeader {
  /* Group 172 */

  /* position: absolute;
  width: 896px;
  height: 52px;
  left: 418px;
  top: 274px; */

  /* Rectangle 112 */

  position: fixed;
  width: 896px;
  height: 52px;
  left: 418px;
  top: 274px;

  background: #e3e7f1;
  border-radius: 10px;
}

.number {
  /* 번호 */

  position: fixed;
  width: 40px;
  height: 20px;
  left: 430px;
  top: 290px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}

.companyName {
  /* 기업명 */

  position: fixed;
  width: 40px;
  height: 20px;
  left: 496px;
  top: 290px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.interviewDate {
  /* 면접일 */

  position: fixed;
  width: 40px;
  height: 20px;
  left: 1104px;
  top: 290px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.createdDate {
  /* 작성일 */

  position: fixed;
  width: 40px;
  height: 20px;
  left: 1228px;
  top: 290px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.plus {
  /* 추가 button */

  position: absolute;
  width: 55px;
  height: 52px;
  left: 763px;
  top: 180px;

  /* Rectangle 102 */

  position: absolute;
  /* left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */

  background: #494ca2;
  border-radius: 10px;
  color: white;
  border: none;

  font-size: 40px;
}
