.title {
  width: 70%;
  margin: 3% 0% 0% 5%;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 4vw;
  color: #4962a2;
}

.companyNameText {
  /* 기업명 */

  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;

  color: #000000;
}

.companyNameInput,
.companyNameInput:focus {
  /* Rectangle 112 */

  box-sizing: border-box;

  width: 20%;

  background: #ffffff;
  border: none;
  border-bottom: 0.15vw solid #8186d5;
  outline: none;
  text-align: center;

  font-weight: 400;
  font-size: 1.5vw;

  color: black;
  text-align: center;
  margin-left: 1%;
}

.interviewInput,
.interviewInput:focus {
  box-sizing: border-box;

  width: 20%;

  background: #ffffff;
  border: none;
  border-bottom: 0.15vw solid #8186d5;
  outline: none;
  text-align: center;

  font-weight: 400;
  font-size: 1.5vw;

  color: black;
  text-align: center;
  margin-left: 1%;
}

.interviewTitle {
  /* 기업명 */
  margin-left: 20%;

  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;

  color: #000000;
}

.itemPlus {
  /* 추가 button */

  width: 4vw;
  height: 3.8vw;

  /* Rectangle 102 */

  background: #494ca2;
  border-radius: 0.2em;
  color: white;
  border: none;

  font-size: 3.5vw;
  margin-left: 44%;
}

.itemMinus {
  /* 추가 button */

  width: 4vw;
  height: 3.8vw;

  /* Rectangle 102 */

  background: #494ca2;
  border-radius: 0.2em;
  color: white;
  border: none;

  font-size: 3.5vw;
  margin-left: 1%;
}

.complete {
  /* 완료 button */

  width: 10vw;
  height: 4vw;

  /* Rectangle 99 */

  background: #494ca2;
  border: none;
  border-radius: 0.4em;

  font-style: normal;
  font-weight: 700;
  font-size: 1.7vw;
  line-height: 2.2vw;
  color: #ffffff;
  float: right;
}

.row1 {
  margin-top: 4%;
  width: 90%;
  margin-left: 5%;
}
.row2 {
  margin-top: 3%;
}

.box {
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
}
