.title {
  /* 기업명 면접 후기 */

  position: absolute;
  width: 643px;
  height: 87px;
  left: 358px;
  top: 148px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;

  color: #4962a2;
}

.q {
  /* “입사 후 하고 싶은 업무는 무엇인가요? ” */

  /* “입사 후 하고 싶은 업무는 무엇인가요? ” */

  position: absolute;
  left: 358px;
  top: 249px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.a {
  /* Rectangle 45 */

  box-sizing: border-box;

  position: absolute;
  width: 1002px;
  height: 407px;
  left: 358px;
  top: 313px;

  font-size: 17px;

  background: #ffffff;
  border: 2px solid #8186d5;
  border-radius: 10px;
}

.modifyButton {
  /* 수정 button */
  cursor: pointer;
  position: absolute;
  width: 131px;
  height: 52px;
  left: 1078px;
  top: 754px;

  background: #494ca2;
  border-radius: 10px;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}

.deleteButton {
  /* 삭제 button */
  cursor: pointer;
  position: absolute;
  width: 131px;
  height: 52px;
  left: 1236px;
  top: 754px;

  background: #ef5c41;
  border-radius: 10px;
  border: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}

.detail {
  /* 2023년 | 0분기 | 신입 | 부서명 | 1차 */
  position: absolute;
  background-color: #e3e7f1;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: auto;
  height: 40px;
  left: 890px;
  top: 220px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
