.title {
  /* 기업명 면접 후기 */
  width: 70%;
  /* margin: 3% 0% 0% 5%; */
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 4vw;
  color: #4962a2;
}

.q {
  /* margin-top: 3%; */
  /* “입사 후 하고 싶은 업무는 무엇인가요? ” */
  /* margin-left: 5%; */
  /* width: 50%; Adjust as needed */
  max-width: 45%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px; /* Adjust as needed */
  line-height: 39px;
  color: #000000;
}

.a {
  /* Rectangle 45
  /* margin-left: 5%; */
  /* box-sizing: border-box;
  width: 90%;
  height: 45vh;  */
  /* Adjust as needed */
  /* margin-top: 20px; */
  /* margin-bottom: 1%;
  font-size: 18px;
  background: #ffffff;
  border: 2px solid #494ca2;
  border-radius: 1vw; */
  width: 80%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;

  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: white;
  border: 2px solid #8186d5;
  outline: none;
  vertical-align: top;
  border-radius: 10px;
  resize: none;
}

.modifyButton,
.deleteButton,
.list {
  cursor: pointer;
  /* width: 9vw;
  height: 3.7vw; */
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;

  /* 수정, 삭제, 리스트 버튼 공통 스타일 */
  margin-top: 15px;
}

.modifyButton {
  /* 수정 button */

  background-color: #8186d5;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.modifyButton:hover {
  background: #494ca2;
  color: #ffffff;
}

.deleteButton {
  /* 삭제 button */

  cursor: pointer;
  background: #ef5c41;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  /* identical to box height */
  padding: 8px 16px;
  color: #ffffff;

  margin: 10px;
}
.deleteButton:hover {
  background-color: #d72808;
}

.detail {
  /* 2023년 | 0분기 | 신입 | 부서명 | 1차 */
  background-color: #e3e7f1;
  margin-left: auto;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
  /* width: auto; */
  font-style: normal;
  font-weight: normal;
  font-size: 15px; /* Adjust as needed */
  color: #000000;
  /* float: right; */
}

.list {
  /* 수정 button */

  cursor: pointer;

  background: #e3e7f1;
  border-radius: 10px;
  border: none;

  font-size: 16px;
  font-weight: bold;

  color: #494ca2;
  padding: 8px 16px;
  /* margin: 10px; */
}
.list:hover {
  background-color: #c6cbef;
}

.detailBox {
  display: flex;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 30px;
  /* width: 90%;
  height: 30px; */
  /* margin-left: 5%; */
}

.downButtonList {
  width: 80%;
  margin-top: 10px;
  /* width: 90%;
  margin: 1% 3% 0;
  margin-left: 5%; */
}

.deleteModifyBox {
  float: right;
}
