.comment {
  width: 80%;
  height: 150px;

  /* background: #ffffff; */
  /* border: 2px solid #8186d5; */
  /* border-radius: 10px; */
  /* padding: 20px; */
}
.commentUser {
  display: flex;
  align-items: center;
  height: 50px;
}
.commentImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #d9d9d9;
  margin-right: 5px;
}
.commentNickname {
  width: 68.87px;
  height: 51px;

  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #000000;
}
.commentDelete {
  cursor: pointer;
  background: transparent;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  /* identical to box height */
  padding: 8px 16px;
  color: #ef5c41;

  margin: 10px;
}
.commentDelete:hover {
  color: #d72808;
  background: transparent;
  /* background-color: #d72808; */
}
