.board {
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardLink {
  text-decoration: none;
}
.head {
  color: #494ca2;
  font-style: normal;
  font-size: 50px;
  font-weight: 400;
  line-height: 55px;
  width: 643px;
  height: 80px;
}
.search {
  display: flex;
  flex-direction: column;
}
.company {
  margin-left: auto;
  padding-right: 100px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.button {
  width: 150px;
  height: 45px;
  background: #494ca2;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  border: none;
  letter-spacing: 0.5px;
}
.input {
  width: 250px;
  margin-right: 10px;
  border-radius: 10px;
  background: #d9d9d9;
  border: none;
  height: 35px;
}
.searchButton {
  width: 50px;
  letter-spacing: 0.5px;
  height: 30px;
  background: #494ca2;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-size: 15px;
  font-weight: 550;
  line-height: 29px;

  background: #ffffff;
  border: 1px solid #494ca2;
  border-radius: 10px;
}
.pagenation {
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-left: 430px; */
  justify-content: center;
  display: flex;
}

.pagenation button {
  margin: 0 10px;
  border-radius: 10px;
  font-weight: 550;
}
