.registCommunity {
  margin: 20px;
}

.registTitle {
  display: flex;
  flex-direction: row;
}
.registReport {
  display: flex;
  flex-direction: row;
}
.textBig {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-right: 5px;
}
.registInput {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;

  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background-color: white;
  border: 2px solid #8186d5;
  outline: none;
  vertical-align: top;
  border-radius: 10px;
  resize: none;
}
