.header {
  /* 상단바 - 면접진행중 */

  position: relative;
  /* width: 1441px; */
  height: 90px;
  left: 95px;
  top: 174px;

  /* Rectangle 5 */

  /* position: absolute; */
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #c6cbef;
}

.logo {
  /* LOGO */

  position: absolute;
  left: 3.75%;
  right: 85.15%;
  top: 25.56%;
  bottom: 26.58%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-decoration: none;

  color: #000000;
}

.logout {
  /* 로그아웃 */

  position: absolute;
  left: 88.83%;
  right: 0.07%;
  top: 27.78%;
  bottom: 28.05%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.loginbutton {
  position: absolute;
  left: 88.83%;
  right: 0.07%;
  top: 27.78%;
  bottom: 28.05%;
  background: none;
  border-radius: 30px;
  border: none;

  /* background-color: rebeccapurple; */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;

  color: #000000;
  &:hover {
    color: #8186d5;
  }
}
