.container {
  height: 100%;
}

.topContainer {
  height: 40%;
  margin-bottom: 35px;
}

.header {
  color: #37397E;
  font-size: 25px;
  margin-bottom: 15px;
}

.topNavBody {
  height: 80%;
  background-color: #C6CBEF;
  border-radius: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
}

.calendarWrapper {
  padding-left: 175px;
}

.headerDday {
  display: flex;
  justify-content: center;
}

.headerDday p {
  color: #4962A2;
  font-size: 25px;
}

.bottomContainer {
  height: 600px;
}

.bottomHeader {
  margin-bottom: 30px;
  padding-left: 45%;
  font-size: 30px;
  color: #37397E;
}
