.container {
  height: 100%;
}

.topContainer {
  height: 40%;
  margin-bottom: 35px;
}

.header {
  color: #37397E;
  font-size: 25px;
  margin-bottom: 15px;
}

.topNavBody {
  height: 80%;
  background-color: #C6CBEF;
  border-radius: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
}

.calendarWrapper {
  padding-left: 130px;
}

.headerDday {
  display: flex;
  justify-content: center;
}

.headerDday p {
  color: #4962A2;
  font-size: 25px;
}

.bottomContainer {
  height: 600px;
}

.bottomHeader {
  margin-bottom: 30px;
  padding-left: 45%;
  font-size: 30px;
  color: #37397E;
}

.reactCalendar { 
  width: 900px;
  height: 520px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .reactCalendar_navigation button {
  height: 70px;
  min-width: 60px;
  background: none;
  font-size: 16px;
 }
 
 abbr[title] {
  text-decoration: none;
 }

 .reactCalendar__tile {
  border: 0px;
 }

 .react-calendar__month-view__days__day--weekend {
  color: #d10000;
 }
 
 .react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
 }