.container {
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  color: #4962A2;
  font-size: 40px;
  margin-bottom: 40px;
}

.subHeader {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.gridContainer {
  background-color: #C6CBEF;
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
  box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #C6CBEF, #A4A6DB);
  min-height: 500px; /* 최소 높이 설정 */
  max-height: 500px; /* 최대 높이 설정 */
}

.gridWrapper {
  display: flex; /* flexbox 레이아웃 사용 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 양 옆 화살표와 그리드 사이의 여백 최대화 */
  min-height: 400px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 120px); /* 4개의 열, 각 열의 크기는 120px */
  gap: 50px 13%; /* 행과 열 사이의 간격 */
  justify-content: center;
}

.card {
  background-image: url(../assets/stone-texture.jpg);
  width: 110px;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  transition: transform 0.3s ease;
}

.card::before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0; /* 변경된 부분: left에서 right로 변경 */
  background: #C6CBEF;
  background: linear-gradient(-135deg, #ffffff 45%, #e1e1e1 56%, #f9f9f9 80%);
  z-index: 1000;
  transition-duration: 0.5s;
  transition-property: width, height;
}

.card:hover::before,
.card:focus::before,
.card:active::before {
  width: 50px;
  height: 50px;
}

.card:hover {
  transform: scale(1.05); /* Increase size by 5% */
}

.clip {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -18px;    /* Move up by 10px outside the .card */
  left: -10px;
}

.text {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.text p:last-child {
  font-size: 19px;
  font-weight: bold;
}

.date {
  font-size: 12px;
  text-align: center;
}

.searchInput {
  font-size: 16px;
  padding: 5px 10px;
  margin-left: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;

  &:focus {
    border-color: #007bff;
  }
}

.pagination {
  display: flex;
  justify-content: center; /* 버튼을 가운데로 정렬 */
  margin-top: 20px; /* 상단 여백 */
}



.arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out; /* 0.5초 동안 부드럽게 효과 적용 */
  opacity: 0.5; /* 기본 투명도 값 */
}

.arrow:last-child {
  transform: scaleX(-1);
}

.arrow:hover {
  opacity: 1.0; /* 마우스를 올렸을 때의 투명도 값 (더 밝게 보임) */
}