.button {
  background-color: #8186d5;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  background-color: #494ca2;
}
