.tbCompanyName {
  cursor: pointer;
}

/*  */
.table {
  width: 90%;
  margin: 5% 3% 0; /* Adjust top margin as needed, set left margin to create space on the left */
  margin-left: 5%;
  border-collapse: collapse;
}

.tableHeader {
  /* Group 172 */
  height: 8%; /* Adjust as needed */
  margin: 2% auto; /* Adjust as needed */
  border-radius: 10px;

  background: #e3e7f1;
}

/* Apply the height to table rows */
.table tr {
  height: 42px; /* Adjust as needed */
}

.item {
  height: 8%; /* Adjust as needed */

  box-sizing: border-box;

  background: #ffffff;
  border-bottom: 2px solid #8186d5;
  text-align: center;
}

.total {
  margin-top: 7%;
  margin-left: 5%;
  width: 65%;
  height: 55%;
  z-index: 1;
  position: absolute;

  background: white;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  /* Rectangle 142 */
}

.pageNums {
  margin-top: 2%;
  font-size: large;
}

.pageNum {
  margin-left: 0.5%;
  margin-right: 0.5%;
  cursor: pointer;
}

.selectedPage {
  color: #494ca2;
  font-weight: bold;
  font-size: large;
}

.pn {
  font-weight: bold;
  cursor: pointer;
}

.pageBox {
  margin-top: 2%;
  margin-left: 42%;
}

.closeButton {
  /* Rectangle 99 */

  /* 완료 button */

  width: 6vw;
  height: 2.5vw;

  /* Rectangle 99 */

  background: #494ca2;
  border: none;
  border-radius: 0.4em;

  font-style: normal;
  font-weight: 600;
  font-size: 1.4vw;
  line-height: 2.2vw;
  color: #ffffff;
  float: right;
  cursor: pointer;
  margin-right: 7vh;
}
